$bg-color: #EFEFEF;
$main-color: #202020;
$second-color: #fff;
$orange: #F36722;
$green: #2E8D43;

$font-family: 'DrukWideCyr-Bold';
$second-family: 'Commissioner-Bold';
$third-family: 'Commissioner-Regular';